<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"

        android:label="ClothingShopApp"

        android:supportsRtl="true"
        android:theme="@style/Theme.ClothingShopApp">

        <!-- Login Activity (LAUNCHER) -->
        <activity
            android:name=".ui.auth.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Register Activity -->
        <activity
            android:name=".ui.auth.RegisterActivity"
            android:exported="false" />

        <!-- Home Activity (Product List) -->
        <activity
            android:name=".ui.product.ProductViewModel"
            android:exported="false" />

        <!-- My Orders Activity -->
        <activity
            android:name=".ui.orders.MyOrdersActivity"
            android:exported="false" />
        <!-- Product Detail Activity -->
<!--        <activity-->
<!--            android:name=".ui.product.ProductDetailActivity"-->
<!--            android:exported="false" />-->

        <!-- Cart Activity -->
<!--        <activity-->
<!--            android:name=".ui.cart.CartActivity"-->
<!--            android:exported="false" />-->

    </application>

</manifest>